html
	head
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='bootstrap/js/bootstrap.min.js')
	
	link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	div#wrap
		div.container
			include includes/header.jade
			
			body
				h1 Get in touch now!
				p Interested in working with us? E-mail us now to get a quote/set up an appointment!
				
				div
					form(action="mailto:ivywireline@gmail.com", method="post", enctype="text/plain")
						div#clientName
							h4 Name
							input(type="text", name="clientName", placeholder="FirstName LastName")
						div#clientNumber
							h4 Contact Phone Number
							input(type="text", name="clientNumber", placeholder="123-456-7890")
						div#clientEmail
							h4 Contact E-mail
							input(type="text", name="clientEmail", placeholder="yourid@domain.ca")
						div#clientPlans
							h4 Describe your plans/summarize your project
							textarea(name="clientPlans", form="mailto:ivywireline@gmail.com")
						
						div#clientSubmit
							input(type="submit")
						
	include includes/footer