html
	head
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='bootstrap/js/bootstrap.min.js')
	script(src='http://malsup.github.io/jquery.cycle.all.js')

	script
		$(document).ready(function() {
			$('#homePics').cycle({
				fx: 'fade'
			});
		}); 
	
	link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/style2.css')
	
	div#wrap
		div.container
			include includes/header.jade
			
			body
				div#homeSection
					div#homePics
						img(src="/images/codes.jpg")
						img(src="/images/sky.jpg")
					p#homeHeading.
						<span style="font-weight:bold;font-size:30px;color:#FFFFFF">About us</span>
						<br>
						We are a technical solution firm that specializes in software engineering. We firmly
						believe in collobaration, innovation and excellence. We strive to provide the best 
						possible service to our clients. Our services include but are not limited to:
					ul
						li Web development and web design
						li Mobile applications development
						li Website maintenance		
				
				div#homeSection2
					p#homeSection2Heading Services
					
	include includes/footer