html
	head
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='bootstrap/js/bootstrap.min.js')
	script(src='http://malsup.github.io/jquery.cycle.all.js')

	script
		$(document).ready(function() {
			$('.slideshow').cycle({
				fx: 'fade'
			});
		}); 
	
	link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/style2.css')
	
	div#wrap
		div.container
			include includes/header.jade
			
			body
				div#homeSection
					center
						div.slideshow
							img(src='/images/codes.jpg')
							img(src='/images/sky.jpg')
					div.homeSection1
						p#homeHeading1 Affordable
						p#homeHeading2 Creative
						p#homeHeading3 Innovative
						
				
	include includes/footer