html
	head
	script(src='http://code.jquery.com/jquery-latest.min.js')    
	script(src='bootstrap/js/bootstrap.min.js')
	
	link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/style2.css')
	
	div#wrap
		div.container3
			include includes/header.jade
			
			body
				div.webSection2
					div#firstWebHeading
						
						center
							h1#webHeading <span style="color:#FE642E">Personalized</span> web services 
									
					
					hr.darkgrey
					
					div.webSection
						div.pageSectionHeading
							h4#left Every business needs a website.
						hr.darkgrey2
						div.pageSection
							p#left Nowadays, just about everything's on the web. If you're kickstarting your business then you're going to want to take advantage of the internet sensation.

							
					div.webSection4
						div.pageSectionHeading 
							h4#right Designs that just work..
						hr.darkgrey2
						div.pageSection 
							p#right


					div.webSection
						div.pageSectionHeading
							h4#left We bring innovation to you.
						hr.darkgrey2
						div.pageSection
							p#left 